body{
    font-family: 'Hind', sans-serif;
    margin: 0;
    background-color : rgb(246, 227, 167);
} 
.navbar{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    list-style-type: none;
}

.navbar a{
    text-decoration: none;
    
  
}
.navbar a:hover{
    color:red;
}

.happy{
    text-align: center;
}
.happy h1{
    color: rgb(255, 153, 51);
    margin-bottom: 30px;
}
.happy h2{
    color: rgb(24, 189, 24);
    margin-bottom: 40px;
}
.learn{
    background-color: rgb(232, 246, 232);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px;
    
}
.learn ul{
    list-style-type: none;
}
#foot{
    display: inline-block;
    font-size: 30px;
    margin-left: 35%;
    margin-bottom: 35px;
    color: rgb(116, 116, 229);
    border: 5px solid rgb(136, 233, 136);
    border-radius: 10px;
}