@font-face {
	font-family: 'Anybody';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/61488/ETCAnybodyPB.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-stretch: 10% 400%;
}


html {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: black;
	font-family: 'Anybody';
	color: white;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

}


.txt {
	margin: 0;
	font-size: 32px;
	font-weight: 900;
	font-stretch: 400%;
}
 